#head {
    background: url("../images/header.png") no-repeat center;
    background-size:800px;
    height:139px;
    width:800px;
    position:relative;
    margin-right:auto;
    margin-left:auto;
    top:47px;
}

#top {
    background: url('../images/layout_top.png') center no-repeat;
    background-size:800px;
    height:185px;
    margin-left:auto;
    margin-right:auto;
    width: 655px;
    padding-left: 40px;
    padding-right: 40px;
}

#tile {
    background: url("../images/layout_tile.png") repeat-y center;
    background-size:800px;
    margin-left:auto;
    margin-right:auto;
    width: 655px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

#bottom {
    background: url("../images/layout_bottom.png") no-repeat center;
    background-size:800px;
    height:192px;
    margin-left:auto;
    margin-right:auto;
    width: 655px;
    padding-left: 40px;
    padding-right: 40px;

    margin-top: -17px;
}

#foot {
    background: url("../images/layout_footer.png") no-repeat center;
    background-size:800px;
    height:139px;
    margin-left:auto;
    margin-right:auto;
    margin-top: -38px;
    width: 655px;
    padding-left: 40px;
    padding-right: 40px;
}
