#content li {
    padding-bottom:2vh;
}
button {
    background: transparent no-repeat center;
    border:none;
    outline:0;
    height: 90px;
    width:289px;
}
#New_Game {
    background-image: url('../images/Buttons GUI/New Game.png');
}

#Load_Game {
    background-image: url('../images/Buttons GUI/Load Game.png');
}

#Highscores {
    background-image: url('../images/Buttons GUI/Highscores.png');
}

#Settings {
    background-image: url('../images/Buttons GUI/Settings.png');
}

#Exit {
    background-image: url('../images/Buttons GUI/exit.png');
}