#login_box {
    padding-top: 112px;
    width: 561px;
    margin-right: auto;
    margin-left: 118px;
    text-align: left;
}
#headername {
    background-image: url('../images/Load_Game.png');
}
input:focus {
    outline:0;
}
input[type=number]:focus{
    outline:0;
    background-color: rgba(27,30,34,0.7);

}
input[type=text]:focus {
    outline:0;
    background-color: rgba(27,30,34,0.3);
}
::-webkit-input-placeholder {
    color: #2d343f;
    font-weight:bold;
}
:-moz-placeholder { /* Firefox 18- */
    color: #2d343f;
    font-weight:bold;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #2d343f;
    font-weight:bold;
}
:-ms-input-placeholder {

    color: #2d343f;
    font-weight:bold;
}
input[type="text"] {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: rgba(21, 25, 29, 0.6);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.004);
    width: 358px;
    height: 64px;
    z-index: 298;
    margin-bottom: 10px;
    padding-left: 15px;
    color: #2d343f;
    text-transform: capitalize;
    cursor: url(../images/cursor.png), auto!important;
}
input[type="submit"] {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.004);
    width: 100px;
    height: 100%;
    background-color: rgba(21, 25, 29, 1);
    color: rgba(45, 52, 63, 1);
    font-size:20px;
    font-weight: bold;
    cursor:pointer;
    cursor: url(../images/cursor.png), auto!important;
}
button {
    background-color:transparent;
    border:none;
    outline:0;
}
form{
    height: 100%;
}
#loadSlot{
    margin-left: 30px;
    height: 120px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin-bottom: 15px;
}
#loadSlot>#image{
    height: 100%;
    width:150px;
    background-image: url("../images/mountains_birds_trees_clouds_fog_tops_9752_3840x2160.jpg");
    background-size: 150px 100%;
    background-repeat: no-repeat;
    opacity: 0.502;
    text-align: left;
    font:Arial;
    float: left;
    margin-right: 10px;
}
#loadSlot>#image>span{
    display: block;
    color: #FFFFFF;
    margin: 90px 0px 10px 10px;
    font-weight: bold;
}
#loadSlot>#gameDescription{
    height: 97%;
    float: left;
    width: 300px;
    font-size: 0.9rem;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: rgba(21, 25, 29, 0.6);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.004);
    color: #2d343f;
}
#saveDescription{
    padding: 5px;
    height: 75%;
    text-align: left;
}
#saveDatum{
    padding: 5px;
    height: 10%;
    text-align: right;
    font-weight: bold;
}
#gameLoadButton{
    height: 100%;
    float: left;
}