#content li {
    padding-bottom:2vh;
}
button {
    background-color:transparent;
    border:none;
    outline:0;
    background-repeat:no-repeat;
    height: 90px;
    background-position:center;
    width:289px;
}
#New_Game {
    background-image: url(../images/Buttons%20GUI/New%20Game.png);
}

#Load_Game {
    background-image: url(../images/Buttons%20GUI/Load%20Game.png);
}

#Highscores {
    background-image: url(../images/Buttons%20GUI/Highscores.png);
}

#Settings {
    background-image: url(../images/Buttons%20GUI/Settings.png);
}

#Exit {
    background-image: url(../images/Buttons%20GUI/exit.png);
}