/* 2 PLAYERS */
#two_players {
    width:100%;
    height:201px;
    background: url("../images/2_players.png") no-repeat center top;
    margin-bottom: 222px;
}
/* 3 PLAYERS */
#three_players {
    width: 100%;
    top: 0;
    height: 401px;
    background: url("../images/more_then_two_players_header.png") no-repeat center top;
}
/* 4 PLAYERS */

#four_players{
    width:100%;
    visibility:visible;
    top:0;
    height:401px;
    background: url("../images/more_then_two_players_header.png") no-repeat center top;
}

body{
    overflow: hidden;
}



#two_players .player_one_name {
    position: relative;
    font-size: 20px;
    color: #8c6d47;
    top: 19px;
    left: -309px;
    text-transform: capitalize;

}
#two_players .player_two_name {
    position: relative;
    font-size: 20px;
    top: 0;
    left: 254px;
    color: #8c6d47;
    text-transform: capitalize;
}

#three_players .player_one_name p {
    margin-left: 107px;
    padding-top: 1px;
    width: 56px;
    text-align: left;
    text-transform: capitalize;
}
#three_players .player_two_name p {
    margin-left: 189px;
    padding-top: 1px;
    width: 56px;
    text-align: left;
    text-transform: capitalize;
}
#three_players .player_third_name p {
    margin-left: 189px;
    padding-top: 1px;
    width: 56px;
    text-align: left;
    text-transform: capitalize;
}
#three_players .player_one_name {
    background: url("../images/3_players_PLAYER_ONE.png") no-repeat left top;
    height:153px;
    position: absolute;
    top: 0;
    left: -217px;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
    -webkit-transition: left 1.5s; /* Safari */
    transition: left 1.5s;
    text-transform: capitalize;
}
#three_players .player_two_name {
    background: url("../images/3_players_PLAYER_TWO.png") no-repeat left top;
    height: 153px;
    position: absolute;
    top: 0;
    right: -224px;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
    -webkit-transition: right 1.5s; /* Safari */
    transition: right 1.5s;
    text-transform: capitalize;
}
#three_players .player_third_name {
    background: url("../images/3_players_PLAYER_THREE.png") no-repeat left top;
    height: 153px;
    position: absolute;
    top: 172px;
    right: -224px;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
    -webkit-transition: right 1.5s; /* Safari */
    transition: right 1.5s;
    text-transform: capitalize;
}


#three_players .player_one_name:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;

}
#three_players .player_two_name:hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
}
#three_players .player_third_name:hover {
    position: absolute;
    top: 172px;
    right: 0;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
}
#four_players .player_one_name p {
    margin-left: 107px;
    padding-top: 1px;
    width: 56px;
    text-align: left;
    text-transform: capitalize;
}
#four_players .player_two_name p {
    margin-left: 189px;
    padding-top: 1px;
    width: 56px;
    text-align: left;
    text-transform: capitalize;
}
#four_players .player_third_name p {
    margin-left: 189px;
    padding-top: 1px;
    width: 56px;
    text-align: left;
    text-transform: capitalize;
}

#four_players .player_fourth_name p {
    margin-left: 113px;
    padding-top: 7px;
    width: 56px;
    text-align: left;
    text-transform: capitalize;

}

#four_players .player_one_name {
    background: url("../images/3_players_PLAYER_ONE.png") no-repeat left top;
    height:153px;
    position: absolute;
    top: 0;
    left: -217px;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
    -webkit-transition: left 1.5s; /* Safari */
    transition: left 1.5s;
    text-transform: capitalize;
}
#four_players .player_two_name {
    background: url("../images/3_players_PLAYER_TWO.png") no-repeat left top;
    height: 153px;
    position: absolute;
    top: 0;
    right: -224px;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
    -webkit-transition: right 1.5s; /* Safari */
    transition: right 1.5s;
    text-transform: capitalize;
}
#four_players .player_third_name {
    background: url("../images/3_players_PLAYER_THREE.png") no-repeat left top;
    height: 153px;
    position: absolute;
    top: 172px;
    right: -224px;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
    -webkit-transition: right 1.5s; /* Safari */
    transition: right 1.5s;
    text-transform: capitalize;
}
#four_players .player_fourth_name {
    background: url("../images/4_players_PLAYER_FOUR.png") no-repeat left top;
    height:190px;
    position: absolute;
    top: 172px;
    left: -217px;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
    -webkit-transition: left 1.5s; /* Safari */
    transition: left 1.5s;
    text-transform: capitalize;
}


#four_players .player_one_name:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;

}
#four_players .player_two_name:hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
}
#four_players .player_third_name:hover {
    position: absolute;
    top: 172px;
    right: 0;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
}

#four_players .player_fourth_name:hover {
    position: absolute;
    top: 172px;
    left: -7px;
    width: 400px;
    padding-top: 18px;
    font-size: 20px;
    color: #8c6d47;
    z-index:500;
}
#actioncards_on_table {
    width:500px;
    height:500px;
}
#actioncards_on_table {
    position: relative;
    top: -171px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width:1280px;
    height:267px;
    margin-top:25px;
}


#actioncards_on_table ul {
    width: 776px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -89px;
}

#actioncards_on_table ul li {
    display:inline-block;
    margin-top: 21px;
}


#actioncards_on_table > ul > li > img:nth-of-type(1){
    width: 123px ;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}

#footer_container {
    background: url("../images/footer.png") no-repeat center top 100%;
    width:1280px;
    height:58px;
    margin-right:auto;
    margin-left:auto;
}
.Coins p, .Buys p, .Actions p{
    display:inline;
}

.Coins, .Buys, .Actions {
    display:inline;
}
#footer p{
    color:white;

    display: inline;
}
#left_side_footer {
    position: relative;
    top: 29px;
    left: 163px;
}
#right_side_footer {
    position: relative;
    top: 15px;
    left: 851px;
    width: 271px;
}

#Amount_Of_Actions, #Amount_Of_Buys, #Amount_Of_Coins {
    background: url("../images/amount_counter.png") no-repeat center center;
    background-size: 19px;
}


#Amount_Of_Actions:nth-child(2), #Amount_Of_Buys:nth-child(2), #Amount_Of_Coins:nth-child(2), #right_side_footer p + p {
    color:#53c1e4;
}

#left_side_footer > div.Actions > p:nth-child(1), #left_side_footer > div.Coins > p:nth-child(1), #left_side_footer > div.Buys > p:nth-child(1), #right_side_footer > p:nth-child(1) {
    color:#8c6d47;
}

#handcards_on_table {
    height: 274px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#discard_pile_on_table {
    background: url("../images/deck_pile.png") no-repeat bottom;
    height:100%;
    width:91px;
    margin-left:10px;
    float:left;
}
#trash_pile_on_table {
    float: right;
    background: url("../images/trash_pile.png") no-repeat bottom;
    height: 100%;
    width: 91px;
    margin-top: -165px;
    margin-right: 10px;
}

#trash_pile_on_table img {
    padding-top:139px;
}
#playedcards_on_table {
    height: 189px;
    width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -195px;
    margin-bottom: 42px;
}
#playedcards_on_table li{
    display: inline;
}
#playedcards_on_table img {
    height:150px;
    margin-right:2.5px;
    margin-left:2.5px;
    margin-top:10px;

}
#hand_on_table {
    margin-top: -60px;
}

#opencards {
    position: relative;
    top: -6px;
    line-height: 29px;
    left: -28px;
    width: 131px;
    color:#53c1e4;
    background-color: transparent;
    border: none;
}

#closecards {
    position: relative;
    top: -6px;
    line-height: 29px;
    right: -42px;
    width: 131px;
    color:#53c1e4;
    background-color: transparent;
    border: none;
}

#center_side_footer {
    position: relative;
    top: 55px;
    left: 500px;
    z-index:5000000;
}

#center_side_footer button {
    font-weight: bold;
    font-size:15px;
}

#actioncards_on_table {
    width:1280px;
    height:267px;
}

.counteronsmallcards p {
    line-height: 21px;
    font-size: 12px;

}
.counteronsmallcards {
    background: url("../images/amount_counter.png") center no-repeat;
    background-size:20px;
    line-height:20px;
    text-align: center;
    position: relative;
    top: 12px;
    left: -45px;
    color: #53c1e4;
}
.counteronactioncards {
    background: url("../images/amount_counter.png") center no-repeat;
    background-size:20px;
    line-height:20px;
    text-align: center;
    position: relative;
    top: 12px;
    margin-top: -28px;
    left: 0;
    color: #53c1e4;
}

#backcardcounter {
    background: url("../images/amount_counter.png") center no-repeat;
    background-size: 20px;
    line-height: 20px;
    text-align: center;
    position: relative;
    top: 22px;
    margin-top: -21px;
    left: -36px;
    color: #53c1e4;
}
#cards_on_board img {
    width:100px;
}
#cards_on_board {
    margin-top:-268px;
}
#cards_on_board ul li{
    display:inline-block;
    padding: 5px;
}
#victory_cards {
    width: 225px;
    display: inline-block;
    float: left;
    margin-left:15px;
}
#money_cards {
    width: 225px;
    float: right;
    display: inline;
    margin-right:15px;
}
#money_cards > ul:nth-child(1) > li:nth-child(3) {
    float:right;
}
#cards_on_board:before, #cards_on_board:after{
    display: table;
    content: "";
}

#cards_on_board:after{
    clear: both;
}


#actioncards_on_table li p {
    width: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}

#playedcards_on_discard_pile img, #toplaycards_on_discard_pile img {
    width: 80px;
    padding-top: 5px;
}

#bigCard{
    height:100%;
    width:100%;
    background-color:rgba(17,17,17,.7);
    z-index:3000;
    position:fixed;
    visibility:hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#bigCard img{
    width: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#otherPlayerCardInfo{
    z-index: 3000;
    position: absolute;
    top: 13px;
    visibility:hidden;
    width: 100%;
    transition:1s;
}

#otherPlayerCardInfo ul {
    height: 326px;
    border: solid 4px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(17, 17, 17, .6);
}
#otherPlayerCardInfo img{
    height: 260px;
    margin: auto;
}
#otherPlayerCardInfo li {
    display:inline;
}

ul h1 {
    color: #8c6d47;
    font-size: 20px;
    background-color: black;
    margin-bottom: 15px;
    text-align: center;
    line-height: 38px;
}
#actioncards_on_table > ul > li > img.buyActionCard {
    position: relative;
    display: block;
    bottom: 21px;
    left: 91px;
    width: 42px;
}
#victory_cards > ul > li > img.buyVictoryCardsandCoinCards, #money_cards > ul > li > img.buyVictoryCardsandCoinCards {
    position: relative;
    display: block;
    bottom: 21px;
    left: 59px;
    width: 42px;
}

.buyVictoryCardsandCoinCards:active, .buyActionCard:active, #nextPlayerButton:active, #playVictoryButton:active, #playActionButton:active {
    opacity: 0.8;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
#nextPlayerButton{
    background-image: url("../images/End_Turn.png");
    background-repeat:no-repeat;
    background-size:160px;
    background-color: transparent;
    border-color: transparent;
    height: 48px;
    width: 162px;
}
#playVictoryButton{
    background-image: url("../images/Play_Treasure.png");
    background-color: transparent;
    background-repeat:no-repeat;
    background-size:160px;
    border-color: transparent;
    height: 48px;
    width: 162px;
}
#playActionButton{
    background-image: url("../images/Buy_Phase.png");
    background-color: transparent;
    background-repeat:no-repeat;
    background-size:160px;
    border-color: transparent;
    height: 48px;
    width: 162px;
}

#playButtons {
    position: relative;
    bottom: 191px;
    left: 457px;
    width: 495px;
    display: inline;
}
button:focus {outline:0;}

button:disabled {
    opacity: 0.5;
}

.disabled {
    opacity: 0.3;
}

#hand {
    width: 1026px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: -110px;
    left: 0;
}
#hand li {
    display:inline;
    padding: 5px;
}
#hand li img {
    height:150px;
}

.activeCard {
    box-shadow: 0 0 20px 7px rgba(255, 99, 13, 0.73);
}