.logo{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    50% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

body {
    background-image: url("../images/background.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#container {
    width:1280px;
    margin-left:auto;
    margin-right:auto;
}
div.header {
     position: relative;
     height: 437px;
     background-image: url(../images/header.png);
     background-repeat: no-repeat;
     left: 55px;
     top: 394px;
 }
div.menu_container_left {
    left: 112px;
    text-align: left;
}
.menu_container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.menu_container ul li {
    position: relative;
    display: inline-block;
    padding-right: 67px;
    height: 30px;
    float: left;
}
a {
    text-decoration: none;
    color:white;
}
div.menu_container_right {
    left: 777px;
}
div.menu_container {
    position: absolute;
    top: 97px;
    z-index: 1000;
    line-height: 28px;
    font-size: 1.4rem;
}
.menu_container ul li a {
    color: #ffd5b2;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px #000000;
}
.menu_container ul li a:hover {
    color: white;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px #000000;
}
div.play-button input.buttonStart{
     position: absolute;
     display: block;
     top: 17px;
     left: 441px;
     height: 159px;
     background-image: url("../images/play.png");
     background-repeat: no-repeat;
     background-color: Transparent;
     border: none;
     cursor:pointer;
     overflow: hidden;
     outline:none;
     margin-left: auto;
     margin-right: auto;
     z-index: 1000000000000000000000;
     background-size: 301px;
     width: 301px;
 }
div.play-button input.buttonStart:hover {
      position: absolute;
      display: block;
      top: 17px;
      left: 441px;
      height: 159px;
      background-image: url("../images/playhover.png");
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
      z-index: 1000000000000000000000;
      background-size: 301px;
      width: 301px;
  }




a.dominion_logo {
    display: block;
    width: 824px;
    height: 414px;
    background-size: 800px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    margin: 67px auto 50px auto;
    z-index: 100000000;
    position: absolute;
    left: 184px;
    top: -459px;
}



#containerbodys {
    width:1280px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 95px;
    color: #ffd5b2;
}

#body {
    background-image: url("../images/layout_top.png");
    background-repeat: no-repeat;
    height:274px;
    width:1176px;
    padding: 0 auto 20px auto;
    margin: 0 auto 0 auto;
}
#body1 {
    background-image: url("../images/layout_tile.png");
    height:100%;
    width:1176px;
    margin-left:auto;
    margin-right:auto;
    background-repeat: repeat-y;
}

#body2 {
    background-image: url("../images/layout_bottom.png");
    background-repeat: no-repeat;
    height:283px;
    width:1176px;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
}
#body3 {
    background-image: url("../images/layout_footer.png");
    background-repeat: no-repeat;
    height:94px;
    width:1176px;
    margin-left:auto;
    margin-right:auto;
}
#containerbodys h1 {
    font-size: 3rem;
    border-bottom: 2px solid rgba(240, 174, 97, 1);
    width: 564px;
    padding-bottom: 15px;
    margin: 0 166px 15px 166px;
    color: rgb(240, 174, 97);
}

#containerbodys p {
    font-size: 1.3rem;
    width: 564px;
    margin-left:166px;
    line-height:25px;
}

#body h1 {
    font-size: 3rem;
    border-bottom: 2px solid #ffd5b2;
    width: 564px;
    padding: 75px 0 20px 0;
    margin: 3px 0 20px 166px;
}
#border {
    border:2px solid #ffd5b2;
}
table {
    border:2px solid #ffd5b2;
    margin: 0 0 -249px 166px;
    z-index: 1500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}
th {
    line-height:50px;
    background-color: rgba(255, 255, 255, 0.2);
}

table tr:nth-child(odd) {
    background-color: rgba(255, 213, 178,0.2);
    color:black;
    z-index:16;
}
td {
    line-height:35px;
}


tr>td {
    padding-left:20px;
}

#downloadbutton {
    position: absolute;
    top: 121px;
    left: 440px;
    background-image: url("../images/download.png");
    background-repeat: no-repeat;
    z-index: 10000000;
    height: 230px;
    width: 347px;
    margin-left:auto;
    margin-right:auto;
}
div#containerdownloadbuttons {
    position: relative;
    height: 114px;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
    margin-bottom: -122px;
}
body {
    background-color:#010506;
}


#body1 h1 {
    padding-top:186px;
    border-bottom: 2px solid #ffd5b2;
}
#downloadbuttonpdf {
    position: absolute;
    top: 0;
    left: 415px;
    background-image: url("../images/downloadpdf.png");
    background-repeat: no-repeat;
    z-index: 10000000;
    height: 230px;
    width: 347px;
}

* {
    letter-spacing: 2px;
}